@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf');
}
*{
    margin: 0;
    font-family: 'Montserrat-Regular';
}
#app{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: repeat(8, 1fr)
  }